@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "styles";

.summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
 }
 @include media-breakpoint-up(md) {
    .summary {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
                line-clamp: 4;
        -webkit-box-orient: vertical;
     }
  }