body {
    position: relative;
}

p {
    font-size: 1.5rem;
}

.anchor {
    font-size: 1.5rem;
    margin-left: 8px;
}

blockquote {
    border: 1px solid #b3b3b3;
    border-left: 10px solid #b3b3b3;
    border-radius: 0px;
    background: #fafafa;
    font-size: 18px;
    margin: 10px;
    padding: 10px 20px;
}
    
blockquote p {
    margin: 0;
    line-height: 30px;
    padding-bottom: 20px;
}