{{ define "main" }}
<div class="pb-5">
  {{ with .Parent.Pages.ByWeight.Next . }}
    <a class="float-start sized" href="{{ .RelPermalink }}">
      <i class="bi bi-arrow-left"></i>
      {{.Title}}
    </a>
  {{ else }}
    {{ with .Parent }}
    <a class="float-start sized" href="{{ .RelPermalink }}">
      <i class="bi bi-arrow-left"></i>
      {{.Title}}
    </a>
    {{ end }}
  {{ end }}
  {{ with .Parent.Pages.ByWeight.Prev . }}
  <a class="float-end sized" href="{{ .RelPermalink }}">
    {{.Title}}
    <i class="bi bi-arrow-right"></i>
  </a>
  {{ end }}
</div>

{{ .Scratch.Set "inline8" "false" }}
<div class="row">
  <div class="col-md-3">
    {{ .Scratch.Set "inline8" "false" }}
    <div class="sticky-top">
      {{ .Render "steps"}}
    </div>
  </div>
  <div class="col-md-9">
    <h3 class="pt-2">{{ .Title }}</h3>
    {{ range .Params.links }}
    <div class="card my-3">
        <div class="card-body">
            <p class="card-text">{{ .text | markdownify}}</p>
            <a href='{{ .link | safeURL }}' target="_blank" rel="noopener" class="card-link">{{ .link | safeHTML}}</a>
        </div>
    </div>
    {{ end }}
    {{ .Content }}
  </div>
</div>



<div class="pb-5">
  {{ with .Parent.Pages.ByWeight.Next . }}
  <a class="float-start sized" href="{{ .RelPermalink }}">
    <i class="bi bi-arrow-left"></i>
    {{.Title}}
  </a>
  {{ else }}
  {{ with .Parent }}
  <a class="float-start sized" href="{{ .RelPermalink }}">
    <i class="bi bi-arrow-left"></i>
    {{.Title}}
  </a>
  {{ end }}
  {{ end }}
  {{ with .Parent.Pages.ByWeight.Prev . }}
  <a class="float-end sized" href="{{ .RelPermalink }}">
    {{.Title}}
    <i class="bi bi-arrow-right"></i>
  </a>
  {{ end }}
</div>

<div class="row">
  <div class="col-12">
      {{ template "_internal/disqus.html" . }}
  </div>
</div>

{{ end }}