<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-12">
      <div class="card-body text-center">
        <h3 class="card-title">{{ .Title }}</h3>
        <p class="card-text text-start">{{ .Summary }}</p>
        <a href="{{ .RelPermalink }}" class="btn btn-lg btn-primary">Виж стъпките за възстановяване</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          {{ range $index, $value := .Pages.ByWeight }}
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></button>
          {{ end }}
        </div>
        <div class="carousel-inner">
          {{ range .Pages.ByWeight }}
          <div class="carousel-item {{if eq .Params.weight 1}} active {{end}}">
            {{if .Params.image}}
            <img src="{{.Parent.RelPermalink}}/{{.Params.image}}" class="d-block w-100" alt="...">
            {{else}}
            <img src="{{.Parent.RelPermalink}}/{{.Parent.Params.image}}" class="d-block w-100" alt="...">
            {{end}}
            <div class="carousel-caption d-none d-md-block">
              <h3>{{.Title}}</h3>
            </div>
          </div>
          {{ end }}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="card-footer bg-transparent border-success">
      <small class="text-muted">
        Обновено {{ .Lastmod | time.Format ":date_medium" }}
      </small>
  </div>
</div>