{{ define "main" }}
<div class="row">
    {{ with index (.Pages.ByWeight) 0}}
    <a class="text-end my-1 sized" href="{{ .RelPermalink }}">
        {{ .Weight }}. {{.Title }}
        <i class="bi bi-arrow-right"></i>
    </a>
    {{ end }}
    <h2 class="text-center">{{ .Title }}</h2>

    {{ .Content}}

    {{ if .Pages }}
    <h4 class="mt-4">Съдържание</h4>
    <ul class="list-group sized">
        {{ range .Pages.ByWeight }}
            <a class="my-1" href="{{.RelPermalink}}">{{ .Weight }}. {{.Title}}</a>
        {{ end }}
    </ul>
    {{ with index (.Pages.ByWeight) 0}}
    <a class="text-end my-1 sized" href="{{ .RelPermalink }}">
        {{ .Weight }}. {{.Title }}
        <i class="bi bi-arrow-right"></i>
    </a>
    {{ end }}
    {{ end }}
</div>
{{ end }}