{{ define "main" }}

<div class="pb-5">
  {{ with .Parent.Pages.ByWeight.Next . }}
  <a class="float-start sized" href="{{ .RelPermalink }}">
    <i class="bi bi-arrow-left"></i>
    {{.Title}}
  </a>
  {{ else }}
  {{ with .Parent }}
  <a class="float-start sized" href="{{ .RelPermalink }}">
    <i class="bi bi-arrow-left"></i>
    {{.Title}}
  </a>
  {{ end }}
  {{ end }}
  {{ with .Parent.Pages.ByWeight.Prev . }}
  <a class="float-end sized" href="{{ .RelPermalink }}">
    {{.Title}}
    <i class="bi bi-arrow-right"></i>
  </a>
  {{ end }}
</div>

{{ .Content }}

<div class="pb-5">
  {{ with .Parent.Pages.ByWeight.Next . }}
  <a class="float-start sized" href="{{ .RelPermalink }}">
    <i class="bi bi-arrow-left"></i>
    {{.Title}}
  </a>
  {{ else }}
  {{ with .Parent }}
  <a class="float-start sized" href="{{ .RelPermalink }}">
    <i class="bi bi-arrow-left"></i>
    {{.Title}}
  </a>
  {{ end }}
  {{ end }}
  {{ with .Parent.Pages.ByWeight.Prev . }}
  <a class="float-end sized" href="{{ .RelPermalink }}">
    {{.Title}}
    <i class="bi bi-arrow-right"></i>
  </a>
  {{ end }}
</div>

<div class="row">
  <div class="col-12">
      {{ template "_internal/disqus.html" . }}
  </div>
</div>

{{ end }}