{{ $top := .}}
{{ $section := . }}
{{ if eq .Kind "page"}}
{{ $section = .Parent }}
{{ end }}
{{ with $section }}
<h4 class="mb-3">Стъпки за възстановяване на водоизточник:</h4>
<div class="row">
    <div class="col-md-3">
    <h5>Забавяне</h5>
    <ul class="list-group sized">
        {{ range first 3 .Pages.ByWeight }}
        <a class="my-1 {{if eq .Title $top.Title}}link-dark{{end}}" href="{{.RelPermalink}}">{{.Title}}</a>
        {{ end }}
    </ul>
    </div>
    <div class="col-md-3">
    <h5>Оживление</h5>
    <ul class="list-group sized">
        {{ range first 2 (after 3 .Pages.ByWeight) }}
        <a class="my-1 {{if eq .Title $top.Title}}link-dark{{end}}" href="{{.RelPermalink}}">{{.Title}}</a>
        {{ end }}
    </ul>
    </div>
    <div class="col-md-3">
    <h5>Осъзнатост</h5>
    <ul class="list-group sized">
        {{ range first 3 (after 5 .Pages.ByWeight) }}
        <a class="my-1 {{if eq .Title $top.Title}}link-dark{{end}}" href="{{.RelPermalink}}">{{.Title}}</a>
        {{ end }}
    </ul>
</div>


<div class="col-md-3 sized mt-1">
    <h5>Последствие</h5>
    <ul class="list-group sized">
        {{ range first 2 (after 8 .Pages.ByWeight) }}
        <a class="my-1 {{if eq .Title $top.Title}}link-dark{{end}}" href="{{.RelPermalink}}">{{.Title}}</a>
        {{ end }}
    </ul>
</div>

{{ with index .Pages.ByWeight 8 }}
{{ if eq ($top.Scratch.Get "inline8") "true"}}
<div class="col-md-12 sized mt-1">
    <h4>{{ .Title }}</h4>
    {{ .Content }}
</div>
{{end}}
{{end}}
{{ end }}