<div class="row">
    <h3>{{ .Title }}</h3>
    {{ range .Pages }}
        <div class="col-md-4">
            {{ .Render "list"}}
        </div>
    {{ end}}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Сподели опитност</h3>

                <p class="card-text"> Разкажи за своите преживявания с Водата</p>
                <a href="mailto:akodzhabashev@gmail.com" class="btn btn-lg btn-primary">Пиши ни</a>
            </div>
            </div>
        </div>
    </div>
</div>